/* --------------------------------- 1 ---------------------------- */

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/* header start */
	header{
		padding: 0px 0;
	}
	.logo{
		width: 160px;
	}
	.menu ul li a{
		padding: 0 15px  5px !important;
	}
	/* banner start */
	.banner{
		padding: 0 0 50px;
	}
	.b_text{
		padding-right: 0;
	}
	.b_h1{
		margin: 10px 0;
		font-size: 30px;
		line-height: 35px;
	}
	.b_text2{
		line-height: 24px;
	}
	.b_link{
		margin-top: 20px;
	}
	.b_img{
		margin-bottom: 20px;
		padding: 0 10px;
	}
	/* feature start */
	.feature{
		padding: 20px 0 60px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/* header start */
	.menu ul li a{
		padding: 0 15px  10px !important;
	}
	/* banner start */
	.banner{
		padding: 0 0 60px;
	}
	.b_text{
		padding-right: 0;
	}
	.b_h1{
		font-size: 35px;
		line-height: 40px;
	}
	.b_text2{
		line-height: 24px;
	}
	.b_link{
		margin-top: 20px;
	}
	.b_img{
		margin-bottom: 30px;
		padding: 0 60px;
	}
	/* feature start */
	.feature{
		padding: 20px 0 60px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/* header start */
	.menu ul li a{
		padding: 0 15px 10px !important;
	}
	/* banner start */
	.banner{
		padding: 0 0 60px;
	}
	.b_text{
		padding-right: 0;
	}
	.b_h1{
		font-size: 35px;
		line-height: 40px;
	}
	.b_text2{
		line-height: 24px;
	}
	.b_link{
		margin-top: 20px;
	}
	.b_img{
		margin-bottom: 30px;
		padding: 0 60px;
	}
	/* feature start */
	.feature{
		padding: 20px 0 80px;
	}
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* banner start */
	.b_text{
		margin-right: 0;
	}
	.b_h1{
		margin: 10px 0 20px;
		font-size: 44px;
	}
	/* section start */
	.col-lg-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/* banner start */
	.b_text{
		margin-right: 45px;
	}
}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	/* feature start */
	.s_feature{
		padding: 65px 0 60px;
	}
}


/*
custom Extra extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1799.98px) {}

custom Extra extra large devices (large desktops, 1800px and up)
@media (min-width: 1800px) and (max-width: 1999.98px) {}

custom Extra extra large devices (Extra large desktops, 2100px and up)
@media (min-width: 2100px) {}*/